@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

body, html {
  font-family: 'Red Rose', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.mimi {
  color: #434343;
}

.mimi:hover {
  color: #A02279;
  transition: all 0.25s ease;
}

.card {
  color: #434343;
}

.btn1 {

  background-color: #A02279;
}

.btn1:hover {
  background-color: #8a1b67;
  transition: all 0.25s ease;
}

.mbtoken {
  background-color: #A02279;
}

.unique {
  color: #A02279;
}

.loca {
  color: #333333;
}

.rows {
  width: 260px;
  height: 265px;
}

.foot {
  background-color: #1D1D1E;
}

.wrapper {
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}